{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "bracketSpacing": true,
  "printWidth": 80,
  "arrowParens": "always",
  "endOfLine": "auto",
  "jsxSingleQuote": false,
  "useTabs": false
}
