@font-face {
  font-family: 'SF Pro Display Regular';
  src:
    local('SF Pro Display Regular'),
    url('/fonts/SF-Pro-Display-Regular.otf') format('opentype');
  font-weight: 400;
}

.header-1-s {
  font-size: 24px;
  font-weight: 400;
}

.header-1-m {
  font-size: 24px;
  font-weight: 500;
}

.header-2-s {
  font-size: 32px;
  font-weight: 400;
}

.header-2-m {
  font-size: 32px;
  font-weight: 500;
}
